# Ignore node_modules directory
node_modules/

# Ignore built files
dist/

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore .DS_Store file
.DS_Store

# Ignore .eslintcache file
.eslintcache
